* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*============ Scroll Bar Start ============*/
::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
  background-color: #292929;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #9b9a9a;
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(182, 182, 182);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #7e7d7d;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #7e7d7d;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.2;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1273px;
  margin: 0 auto;
}

.container__mini {
  max-width: 1120px;
  margin: 0 auto;
}

/*========== Header  Start ==========*/
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 84px;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header__item {
  margin-right: 40px;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  text-decoration: none;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
  font-weight: 700;
}

/*================== Header Burger Menu Start ==================*/
.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
  cursor: pointer;
  transition: 0.1s linear;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(42, 42, 42);
  position: absolute;
  left: 0;
}

.header__burger:hover {
  transform: translateY(-10%);
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

/*Крестик*/
/* ======= Крестик ======= */
.header__nav-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 55px;
  right: 20px;
  z-index: 11;
}

.header__nav-close-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
}

/*Метод как нарисовать крестик*/
.header__nav-close-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}
.header__nav-close-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

/*========== Header  End ==========*/

/*========== Intro Start ==========*/
.intro {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 190px;
}

.intro__presentation {
  max-width: 445px;
  padding-top: 102px;
  margin-right: 109px;
}

.intro__container {
  display: flex;
  align-items: flex-start;
}

.intro__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 25px;
}

.intro__text {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  margin-bottom: 45px;
}

.intro__button {
  width: 200px;
  border: 0;
  background: #458ff6;
  border-radius: 55px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;

  mix-blend-mode: normal;
}

.intro__illustaration-pic {
  max-width: 693px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
/*========== Intro End ==========*/

/*========== Services Start ==========*/

.services {
  background: url("/img/services-bacground.jpg") no-repeat 20%;
  background-position-y: 25%;
  margin-bottom: 223px;
}

.services__points {
  position: absolute;
  right: 10px;
}

.services__title-container {
  margin-bottom: 50px;
}

.services__title {
  margin-bottom: 61px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  text-align: center;
}

.services-line {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 56px;
  border-bottom: 3px solid #000;
  margin-bottom: 31px;
  border-radius: 10px;
}

.services__text {
  max-width: 952px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  color: #7d7987;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 34px;
  margin-bottom: 66px;
}

.services__card {
  width: 350px;
  background-color: white;
  padding-top: 54px;
  padding-left: 37px;
  border-radius: 20px;
  margin-bottom: 0px;
}

.services__logo-pic {
  margin-bottom: 22px;
}

.services__card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.services__card-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  margin-bottom: 25px;
}

.services__more {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: #458ff6;
  font-size: 18px;
  width: 200px;
  border-radius: 55px;
  padding: 15px 0;
  border: 0;
  background-color: white;
  border: 1px solid #458ff6;
}

/*========== Services End ==========*/

/*========== Leading healthcare Start ==========*/
.healthcare {
  margin-bottom: 229px;
}

.healthcare__container {
  display: flex;
  align-items: center;
}

.healthcare__illustartion-pic {
  max-width: 650px;
  margin-right: 137px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.helthcare__items {
  max-width: 420px;
  padding-top: 47px;
  word-wrap: break-word;
}

.helthcare__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 26px;
}

.line {
  width: 56px;
  border-bottom: 3px solid #000;
  margin-bottom: 31px;
  border-radius: 10px;
}

.helthcare__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 37px;
}

.helthcare__button {
  color: #458ff6;
  font-size: 18px;
  width: 200px;
  border-radius: 55px;
  padding: 15px 0;
  border: 0;
  background-color: white;
  border: 1px solid #458ff6;
}

/*========== Leading healthcare End ==========*/

/*========== Mobile app End ==========*/
.app {
  margin-bottom: 251px;
  margin-left: 150px;
}

.app__container {
  display: flex;
  align-items: center;
}

.app__illustartion-pic {
  max-width: 665px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.app__items {
  max-width: 420px;
  padding-top: 47px;
  margin-right: 71px;
}

.app__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 26px;
}

.line {
  width: 56px;
  border-bottom: 3px solid #000;
  margin-bottom: 31px;
  border-radius: 10px;
}

.app__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 37px;
}

.app__button {
  color: #458ff6;
  font-size: 18px;
  width: 200px;
  border-radius: 55px;
  padding: 15px 0;
  border: 0;
  background-color: white;
  border: 1px solid #458ff6;
}

/*========== Mobile app End ==========*/

/*========== Customers Start ==========*/

.customers {
  margin-bottom: 216px;
}

.customers__container {
  max-width: 1120px;
  margin: 0 auto;
}

.customer__profile-wrapper {
  display: flex;
}

.customer__profile-pic {
  width: 141px;
  height: 141px;
  border-radius: 100px;
  margin-right: 29px;
  border: 3px solid white;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  float: right;
}

.customer__profile-name {
  font-style: bold;
  font-size: 22px;
  line-height: 48px;
  color: white;
}

.customers__profile-position {
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
}

.customers__title {
  padding-top: 64px;
  font-style: bold;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  color: white;
  margin-bottom: 25px;
}

.customers-line {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 56px;
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-bottom: 77px;
  border-radius: 10px;
}

.customer__profile-data {
  display: flex;
  flex-direction: row;
  padding-left: 118px;
  margin-bottom: 79px;
  margin-right: 110px;
  align-items: center;
}

.customer__profile-review {
  font-style: 500;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  max-width: 420px;
}

.customers__review {
  border-radius: 24px;
  background: linear-gradient(0deg, #67c3f3 20%, #4a8ff7 100%);
}

.arrow-hover {
  cursor: pointer;
  position: relative;
  width: 31px;
  height: 20px;
  margin: 20px;
}
.arrow-hover div {
  position: relative;
  top: 20px;
  width: 90px;
  height: 10px;
  background-color: #67c3f3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 550px;
  display: block;
}
.arrow-hover div::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: #67c3f3;
  transform: rotate(45deg);
}
.arrow-hover div::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: #67c3f3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.arrow-hover:hover {
  animation: arrow-hover 1s linear infinite;
}
@keyframes arrow-hover {
  0% {
    left: 0;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 0;
  }
}

/*========== Customers End ==========*/

/*========== Check Start ==========*/
.check {
  margin-bottom: 200px;
}

.check__header {
  text-align: center;
}
.check__title {
  margin-bottom: 26px;
}

.check__cards {
  max-width: 1120px;
  display: flex;
  margin: 0 auto;
}

.check__card {
  margin-right: 34px;
  width: 350px;
}

.check__pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 24px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.check__item {
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 12px;
}

.check__desc {
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  margin-bottom: 25px;
}

.check__more {
  color: #4089ed;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
}

.check__all {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: #458ff6;
  font-size: 18px;
  width: 200px;
  border-radius: 55px;
  padding: 15px 0;
  border: 0;
  background-color: white;
  border: 1px solid #458ff6;
  margin-top: 69px;
}
/*========== check End ==========*/

/*========== Footer Start ==========*/
.footer__container {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(0deg, #67c3f3 20%, #4a8ff7 100%);
  display: flex;
  color: white;
  justify-content: space-around;
}

.footer__logo {
  max-width: 350px;
  margin: 118px 100px 113px 100px;
}

.footer__logo-pic {
  margin-bottom: 22px;
}

.footer__logo-about {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 31px;
}

.footer__logo-rights {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__nav-menu {
  margin-right: 80px;
  color: white;
  list-style: none;
}

.footer__nav-menu:last-child {
  margin-right: 0;
}

.footer__nav-title {
  font-style: bold;
  font-size: 20px;
  line-height: 60px;
}

.footer__nav-link {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

/*========== Footer End ==========*/

/*========== Media Start ==========*/

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 0 30px;
  }

  .container__mini {
    max-width: 870px;
    padding: 0 30px;
  }

  .intro {
    margin-bottom: 90px;
  }

  .intro__presentation {
    max-width: 400px;
    padding-top: 60px;
    margin-right: 50px;
  }

  .intro__container {
    display: flex;
    align-items: center;
  }

  .intro__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 15px;
  }

  .intro__text {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    color: #68666e;
    margin-bottom: 45px;
  }

  .intro__illustaration-pic {
    max-width: 393px;
  }

  .points {
    display: none;
  }
  .app {
    margin-bottom: 251px;
    margin-left: 30px;
  }

  .app__illustartion-pic {
    max-width: 550px;
    margin-right: 30px;
  }

  .app__items {
    width: 420px;
    padding-top: 47px;
    margin-right: 15px;
  }

  .services__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 130px;
  }

  .services__card {
    width: 350px;
    background-color: white;
    padding-top: 24px;
    padding-left: 37px;
    border-radius: 20px;
  }

  .services {
    background: url("/img/services-bacground.jpg") no-repeat 20%;
    background-position-y: 80%;
    margin-bottom: 90px;
  }

  .services__text {
    font-weight: 400;
    font-size: 22px;
  }

  .healthcare {
    margin-bottom: 200px;
  }

  .helthcare__items {
    width: 486px;
    padding-top: 7px;
  }

  .healthcare__illustartion-pic {
    max-width: 550px;
    margin-right: 30px;
  }

  .customers__container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .customer__profile-data {
    display: flex;
    flex-direction: row;
    padding-left: 118px;
    margin-bottom: 125px;
    margin-right: 110px;
    align-items: center;
  }

  .customer__profile-review {
    font-style: 500;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 350px;
    padding-right: 40px;
  }

  .arrow-hover div {
    left: 430px;
  }

  .check__cards {
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
  }

  .check__card {
    margin-right: 34px;
    width: 350px;
    padding-left: 34px;
  }

  .footer__logo {
    max-width: 200px;
    margin: 60px 120px 60px 150px;
  }

  .footer__nav-menu {
    margin-right: 75px;
    color: white;
    list-style: none;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 30px;
  }

  .container__mini {
    max-width: 720px;
    padding: 0 30px;
  }

  .header__item {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: #a3a3a3;
    text-decoration: none;
  }

  /*================== Burger Start ==================*/
  .header__burger {
    display: block;
  }
  /*Бургер-меню при открытие*/
  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #19191a;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%); /*Для сдвига вправо бургер меню*/
  }
  /*Бургер-меню при закрытие*/
  .header__nav-active {
    transform: translateX(0); /*Для сдвига влево бургер меню*/
  }
  /*================== Burger End ==================*/

  .intro {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }

  .services {
    margin-bottom: 15px;
  }

  .services__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }

  .services__card {
    width: 300px;
    background-color: white;
    padding-top: 24px;
    padding-left: 37px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .healthcare {
    margin-bottom: 10px;
  }

  .helthcare__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 26px;
  }

  .healthcare__illustartion-pic {
    max-width: 380px;
    padding: 200px 0;
    margin-right: 37px;
  }

  .helthcare__items {
    max-width: 286px;
    padding-top: 47px;
  }

  .app {
    margin-bottom: 150px;
    margin-left: 0px;
  }

  .app__illustartion-pic {
    max-width: 380px;
    margin-right: 0px;
  }

  .customers__container {
    max-width: 768px;
    margin: 0 auto;
  }

  .customer__profile-data {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    margin-bottom: 89px;
    margin-right: 70px;
    align-items: center;
  }

  .customer__profile-pic {
    width: 141px;
    height: 141px;
    border-radius: 100px;
    margin-right: 10px;
    border: 3px solid white;
  }

  .customer__profile-name {
    font-style: bold;
    font-size: 18px;
    line-height: 32px;
    color: white;
  }

  .customers__profile-position {
    font-size: 16px;
    line-height: 37px;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
  }

  .customers__title {
    padding-top: 44px;
    font-style: bold;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    color: white;
    margin-bottom: 25px;
  }

  .arrow-hover div {
    top: 25px;
    left: 310px;
  }

  .check__cards {
    max-width: 768px;
  }

  .check__card:last-child {
    margin-right: 30px;
  }

  .footer__logo {
    max-width: 200px;
    margin: 60px 100px 60px 60px;
  }

  .footer__nav-menu {
    margin-right: 35px;
    color: white;
    list-style: none;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container__mini {
    max-width: 580px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .services {
    background: url("/img/services-bacground.jpg") no-repeat 20%;
    background-position-y: 80%;
    margin-bottom: 90px;
  }

  .services__card {
    width: 250px;
    background-color: white;
    padding-top: 20px;
    padding-left: 0;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 20px;
  }

  .customer__profile-data {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    margin-bottom: 79px;
    margin-right: 20px;
    align-items: center;
  }

  .customer__profile-pic {
    width: 141px;
    height: 141px;
    border-radius: 100px;
    margin-right: 29px;
    border: 3px solid white;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (max-width: 526px) {
  .container {
    max-width: none;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container__mini {
    max-width: none;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
  }

  .header__item {
    margin-right: 0;
  }

  .intro {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }

  .intro__container {
    display: block;
  }

  .intro__presentation {
    max-width: 345px;
    padding-top: 102px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .intro__text {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 32px;
    color: #7d7987;
    margin-bottom: 45px;
    text-align: center;
  }

  .intro__button {
    width: 360px;
    border: 0;
    background: #458ff6;
    border-radius: 55px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    color: #ffffff;
    margin: 0 auto;
  }
  .intro__illustaration-pic {
    margin-top: 40px;
    max-width: 100%;
    padding: 0px;
  }

  .services {
    margin-bottom: 150px;
  }

  .services__text {
    max-width: 300px;
    font-size: 18px;
  }

  .services__title-container {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .services__logo-pic {
    margin-bottom: 22px;
  }

  .services__card-title {
    font-size: 25px;
  }

  .services__card-desc {
    font-size: 18px;
  }

  .services__cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 12px;
  }

  .services__card {
    width: 320px;
    background-color: white;
    padding-top: 24px;
    padding-left: 0px;
    border-radius: 20px;
    margin: 20px auto;
  }

  .healthcare {
    margin-bottom: 120px;
  }

  .healthcare__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .line {
    width: 56px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #000;
    margin-bottom: 31px;
    border-radius: 10px;
  }

  .healthcare__illustartion-pic {
    max-width: 100%;
    margin-right: 0px;
    padding: 20px;
  }

  .helthcare__items {
    max-width: 100%;
    padding-top: 0px;
    text-align: center;
  }

  .helthcare__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    margin-bottom: 26px;
  }

  .helthcare__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 37px;
  }

  .app {
    margin-bottom: 150px;
    margin-left: 0px;
  }

  .app__items {
    max-width: 100%;
    padding-top: 47px;
    margin-right: 0px;
  }

  .app__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 26px;
  }

  .app__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 37px;
    text-align: center;
  }

  .app__illustartion-pic {
    max-width: 100%;
    margin-top: 30px;
    margin-right: 0;
  }

  .app__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .app__button {
    color: #458ff6;
    font-size: 18px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 40px;
  }

  .customers {
    margin-bottom: 216px;
  }

  .customers__container {
    max-width: 520px;
    margin: 0 auto;
  }

  .customer__profile-wrapper {
    display: block;
  }

  .customers__title {
    padding-top: 20px;
    font-style: bold;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: white;
    margin-bottom: 25px;
  }

  .customer__profile-pic {
    margin-right: 20px;
  }

  .customers-line {
    margin-bottom: 35px;
  }

  .customer__profile-data {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    align-items: center;
  }

  .customer__profile-review {
    font-style: 500;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 420px;
    padding: 30px;
    text-align: center;
  }

  .arrow-hover {
    display: none;
  }

  .check {
    margin-bottom: 90px;
  }

  .check__cards {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .check__card {
    max-width: 350px;
    margin: 0 auto;
  }

  .check__card:last-child {
    margin-right: auto;
  }

  .check__pic {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 24px;
    margin-top: 40px;
  }

  .check__item {
    font-size: 21px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 12px;
  }

  .check__title {
    font-size: 30px;
  }

  .check__desc {
    font-size: 16px;
    line-height: 28px;
    color: #7d7987;
    margin-bottom: 15px;
  }

  .check__more {
    color: #4089ed;
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
  }

  .footer__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
  }
  .footer__logo {
    max-width: 350px;
    margin: 50px auto;
  }

  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
}
